.git
.gitignore
.tmp
.release
.pnpm-store
**/node_modules
**/.next
**/.svelte-kit
**/build
**/dist
**/coverage
**/test-results
**/playwright-report
**/*.log
**/*.tsbuildinfo
.env
.env.*
**/*.db
**/*.db-*
**/*.sqlite
**/*.sqlite-*
documents
uploads

